@import "tailwindcss";

.bg-natura {
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
}

.glass {
  background: rgba(152, 255, 152, 0.1); 
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #064e3b;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(16, 185, 129, 0.5); 
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(16, 185, 129, 0.8); 
}